; Use NPM registry by default
//registry.npmjs.org/

; GitHub Packages registry for your org's packages
speedcurve-metrics:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_AUTH_TOKEN}
